{% extends 'base.html' %}

{% block content %}

{% for p in pokedex %}
<div id="card" class="card" style="width: 18rem;">
    <img src="{{ p.image }}" class="card-img-top" alt="{{ p.name }}">
    <div class="card-body">
        <h4 class="card-title">{{ p.name.title() }}</h4>
        <ul>
            <h5 class="abilities">Abilities</h5>
            {% if p.ability3 == 'none' and p.ability2 == 'none' %}
            <li>{{ p.ability1.title() }}</li>
            {% elif p.ability3 == 'none' %}
            <li>{{ p.ability1.title() }}</li>
            <li>{{ p.ability2.title() }}</li>
            {% else %}
            <li>{{ p.ability1.title() }}</li>
            <li>{{ p.ability2.title() }}</li>
            <li>{{ p.ability3.title() }}</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock content %}