{% extends 'base.html' %}

{% block content %}

<div id="card" class="card" style="width: 18rem; display: flex; align-content: center; margin: auto;">
    <img src="{{ img_url }}" class="card-img-top" alt="{{ name }}">
    <div class="card-body">
        <h4 class="card-title">{{ name }}</h4>
        <ul>
            <h5 class="abilities">Abilities</h5>
            {% for a in abilities %}
                <li>{{ a }}</li>       
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock content %}